head
  meta(charset='utf-8')
  title landing page
  meta(name='description', content='Author: A.N. Author, Illustrator: P. Picture,')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='theme-color' content="#E5E5E5")
  link(rel='stylesheet', href='styles/main.css')
