section.dribble
    .container
        .row
            h1.title Dribbles
            ul.list.list-inline.row.row--4
                - var users = [{name: 'view', count: '125', image: 'images/Exclude.png'}, {name: 'comment', count: '111', image: 'images/Union.png'}, {name: 'like', count: '333', image: 'images/Heart.png'}]
                
                - for ( var i = 0; i < 5; i++) {
                    li.col.card
                        .card__item
                            a.card__image(href="#inline" data-lity)
                                img(src="images/list1.png", alt="")
                            .card__action
                                .card__action-add
                                    a(href="#") attach 
                                ul.list.list-inline.card__action-list    
                                    each val, index in users
                                        li
                                            a(href="#") 
                                              span.visually-hidden=  val.name
                                              img(src=val.image, alt="")
                                              span.card--action-count= val.count 
                        .card__owner  
                            a(href="#")
                                img(src="images/avater.png", alt="")
                                span somename       
                -}
            .button-section
                a.button.dribble__button-middle.button--backgroundcolor(href="#") Sign up to continue 
                a.button.dribble__button-middle(href="#") or sign in
include _modalbox
