div#inline.lity-hide
        .modal-box
            header.modal-box__header
                .container
                    .row.row--2
                        .col
                            img.modal-box__header__avater(src="images/avater.png", alt="")
                            .modal-box__header__personinfo
                                h2 Pay Junction - Paper Receipts 
                                p by 
                                    a(href="#") Eddie Lobanivsjky
                                    span on
                                    time August 20, 2018  
                        .col     
                            .modal-box__header__button
                                button.model-button(type="button") Save
                                button.model-button(type="button")
                                    img(src="images/Heart.png", alt="") 
                                    span like
            section.modal-box__banner
                .container
                    .modal-box__banner__image
                        img(src="images/list1.png", alt="")  
            section.modal-box__content
                .container
                    .row.row--3
                        .col.col--2
                            .modal-box__content__type
                                p Hey guys, here’s a sneak peak of my  work in progress I was happy everyone got to see my last work and commented so much.I’ll be sure to keep you updated
                            .modal-box__content__response  
                                h3 Responses 
                                - for ( var i = 0 ; i < 2 ; i++) {
                                    .modal-box__content__response__comment.media
                                        .media__img
                                            img.modal-box__content__response__comment__image(src="images/avater.png", alt="") 
                                        .media__content
                                            h4 username
                                            p I like what you did with this place, I like what you did with this place, I’m not sure what to do about that part. what do you think?
                                            .modal-box__content__response__comment__action
                                                time August, 20 2018
                                                a(href="#")
                                                    img(src="images/Heart.png", alt="")
                                                    span 12
                                - }   
                        .col
                            .modal-box__content__action 
                                .modal-box__content__action__copylink
                                    button.model-button(type="button")
                                        img(src="images/attach.png", alt="") 
                                        span Copy Link  
                                .modal-box__content__action__counts 
                                    a(href="#") 
                                        img(src="images/Exclude.png", alt="")
                                        span 4255
                                        span views  
                                    a(href="#") 
                                        img(src="images/Heart.png", alt="")
                                        span 4266
                                        span likes 
                                    a(href="#") 
                                        img(src="images/Heart.png", alt="")
                                        span 4266
                                        span saved                              