-
    var cardList= [
        {name: 'mahmoud', 
        image:[{large:'images/list1.png',small:'images/list4.png'}],
        imagewebp:'images/list1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mamdouh', 
        image:'images/list2.png',
        imagewebp:'images/list2.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-2'},
        {name: 'mahmoud', 
        image:'images/list3.png',
        imagewebp:'images/list3.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list4.png',
        imagewebp:'images/list4.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list5.png',
        imagewebp:'images/list5.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list1.png',
        imagewebp:'images/list1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list6.png',
        imagewebp:'images/list6.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list7.png',
        imagewebp:'images/list7.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/avater-1.png',
        imagewebp:'images/avater-1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list1.png',
        imagewebp:'images/list1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mamdouh', 
        image:'images/list2.png',
        imagewebp:'images/list2.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-2'},
        {name: 'mahmoud', 
        image:'images/list3.png',
        imagewebp:'images/list3.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list4.png',
        imagewebp:'images/list4.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list5.png',
        imagewebp:'images/list5.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list1.png',
        imagewebp:'images/list1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list6.png',
        imagewebp:'images/list6.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/list7.png',
        imagewebp:'images/list7.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},
        {name: 'mahmoud', 
        image:'images/avater-1.png',
        imagewebp:'images/avater-1.webp', 
        avater:{large:'images/avater.png',small:'images/avater.png'}, 
        header:'Pay Junction - Paper Receipts-1'},]
-var cardAction = [{name: 'view', count: '125', image: 'images/Exclude.png'}, {name: 'comment', count: '111', image: 'images/Union.png'}, {name: 'like', count: '333', image: 'images/Heart.png'}, {name: 'saved', count: '44', image: 'images/Heart.png'}]
-var responseComment = [{name: 'ahmed',text: 'Ahmed like what you did with this place, I like what you did with this place, I’m not sure what to do about that part. what do you think?',nameAction:'like',count:'132'},{name: 'alawady',text: 'Alawady like what you did with this place, I like what you did with this place, I’m not sure what to do about that part. what do you think?',nameAction:'like',count:'123'}]
