.button-section {
    padding-bottom: 14px;
}
.button {
    background-color: transparent;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    display: block;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.button + .button {
    margin-top: 8px;
    color: #3E8CB9;
}
.button--backgroundcolor {
    background-color: var(--third--color);
    color: #ffffff;
}
