.container {
    max-width: var(--breakpoint-xl);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--breakpoint);
    padding-right: var(--breakpoint);
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

.row > .col {
    float: left;
    padding-left: var(--breakpoint);
    padding-right: var(--breakpoint)
}
.row--2 > .col {
    width: 50%;
}
.row--3 > .col {
    width: 33.33%;
}
.row--3 > .col--2 {
    width: 66.66%;
}
.row--4 > .col {
    width: 25%;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}