.card {
    margin-bottom: 20px;
    &__item{
        padding: 8px;
        border-radius: 2px;
        box-shadow: 0px 5px 12px -6px var(--secondary-color);
        background-color: #ffffff;
    }
    &__image {
        width: 100%;
        padding-bottom: 75%;
        height: 0;
        display: block;
        overflow: hidden;
        img {
            max-width: 100%;
            object-fit: contain;
            height: auto;
        }
    }
    &__action {
        margin-top: 4px;
        &-list {
            float: right;
            li {
                font-size: 11px;
                line-height: 23px;
                & + li {
                    margin-left: 6px;
                }
                a {
                    color: #777777;
                }
                img{
                    vertical-align: text-bottom;
                    margin-right: 4px;
                }
            }
        }
        &-add {
            display: inline-block;
        }
    }
    &__owner {
        margin-top: 16px;
        a {
            color: #3E8CB9;
            font-size: 13px;
            font-weight: bold;
            line-height: 23px;
            display: inline-block;
            margin-left: 8px;
            text-transform: capitalize;
        }
        img{
            border-radius: 50%;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            vertical-align: sub;
        }
    }
}

