.footer {
    border-top: 1px solid var(--border-color);
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    p {
        font-size: 11px;
        color: var(--title-color);
    }
}
